
<header>
	<section class="logo">
		<span class="smallcap">M</span>
		<span class="spacer"></span>
		<span class="smallcap">C</span>
	</section>
	<h1>{{ site.title }}</h1>
	<h2>{{ site.subtitle }}</h2>
	<span class="roles">I do online marketing</span>
	<section class="rrss-links">
		{% for link in site.links %}
			<a class="rrss-link" href="{{ link.link[1] }}" target="_blank">{{ link.link[0] }}</a>
		{% endfor %}
	</section>
</header>
<script type="text/javascript">
	var roles = [
		'online marketing',
		'content creation',
		'web design',
		'brand development'
	];
	var roleIndex = 0;
	setInterval(function() {
		var role = roles[roleIndex];
		$('.roles').text('I do ' + role);
		roleIndex += 1;
		roleIndex = roleIndex % roles.length;
	}, 2000);
</script>
