<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<link rel="stylesheet" type="text/css" href="{{ "/css/MyFontsWebfontsKit.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/metodooff.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | prepend: site.baseurl }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | prepend: site.baseurl }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-17x16.png" | prepend: site.baseurl }}">
	<link rel="manifest" href="{{ "/manifest.json" | prepend: site.baseurl }}">
	<link rel="mask-icon" href="{{ "/safari-pinned-tab.svg | prepend: site.baseurl }}" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
	<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		crossorigin="anonymous"></script>
	<script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
	<script type="text/javascript">(function(o){var b="https://api.autopilothq.com/anywhere/",t="87c91a52ec814a4d84b4622ee68cd1143b0f7926ab14490f809e72e909f51c86",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});</script>
</head>

